@font-face {
    font-family: 'Font-2';
    src: url('fonts/font2.otf');

}

@font-face {
    font-family: 'font-1';
    src: url('fonts/Avigea.ttf');

}


#cocom {
    width: auto;
    height: auto;
    display: flex;
}

.video-container {
    position: relative;
    width: 500px;
    /* Example width */
    height: 350px;
    /* Example height */
    background-color: #f0f0f0;
    border: 3px solid #000;
    /* Example border */
    overflow: hidden;
    border-radius: 12px;
    /* Rounded corners */
}

.hover-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: absolute;
}


.video-container:hover .hover-video {
    opacity: 1;
    transform: scale(1.02);
    /* Slight zoom effect */
}

@keyframes playVideo {
    from {
        opacity: 0.7;
    }

    to {
        opacity: 1;
    }
}

#vid {
    width: 500;
}

#beta {
    margin-top: 17vw;
    font-family: font-2;
    opacity: 1;
    text-align: center;
}

#hate {
    font-family: font-1;
    text-align: center;
    margin-top: -2.5vw;
}

body {
    background-color: rgb(236, 173, 101);
}

p {
    font-family: font-2;
    text-align: center;
}

h1 {
    font-family: font-2;
    text-align: center;
}

h2 {
    font-family: font-2;
    text-align: center;
}


.custom-video-container {
    position: relative;
    width: 600px;
    /* Example width */
    height: 350px;
    /* Example height */
    background-color: #f0f0f0;
    border: 3px solid #000;
    /* Example border */
    overflow: hidden;
    border-radius: 12px;
    /* Rounded corners */
    margin-left: 64vw;
    margin-top: -35vw;
    height: 30vw;
}

#custom-hover-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: absolute;
}

.custom-video-container:hover #custom-hover-video {
    opacity: 1;
    transform: scale(1.02);
    /* Slight zoom effect */
}

@keyframes playVideo {
    from {
        opacity: 0.7;
    }

    to {
        opacity: 1;
    }
}

#blap {
    width: 30vw;
}

#blop {
    border: #f0f0f0 2px solid;
    margin-right: 68.1vw;
} 